<div id ="show_comments">
	<% comments = match.get_ranked_comments %>
	<% if comments.count == 0 %>
		<div class="no comments_area">
			<p> Nobody has commented on this ballot yet. </p>
		</div>
	<% else %>
		<div class="top comments_area">
			<h4>Top Comments</h4>
			<%= render 'comments/show', :comment => comments.first, :match => match %>
			<% if comments.count > 1 %>
				<%= render 'comments/show', :comment => comments[1], :match => match %>
			<% end %>
		</div>
	<% end %>
	<div class="all comments_area">
		<% if comments.count > 2 %>
		<h4>Recent Comments</h4>
		<% end %>
		<%= render "comments/create", :match => match %>
		<% if comments.count > 2 %>
			<div class="recent comments_area"> <!-- TODO: change the name of this thing, and other comment areas -->
				<% comments.slice(2..(comments.length-1)).each do |comment|   %>
				<%= render 'comments/show', :comment => comment, :match => match %> <!-- TODO: shouldn't have to add match here> -->
				<% end %>
			</div>
		<% else %>
			<div class="your_new comments_area" style="display: none;"></div>
		<% end %>
	</div>
</div>

<%= javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery? %>

<%= javascript_tag "var USER_SIGNED_IN = #{user_signed_in?}" %>

<script type="text/javascript">

$(document).ready(function() {
	
	var SIGNUP_SIGNIN_OVERLAY_PARAMETERS = {
	speed: "fast",
		mask: {

			color: '#ffffbf',
			loadSpeed: 50,
			opacity: 0.5
		}
	};
	
	$(".vote_button_panel button").tooltip({ predelay: 220, effect: "fade"});
	
	function on_voteUp_click() {
		var buttonPanel = $(this).parent();
		
		$(".tooltip").hide();
		
		//so we can undo our vote on the client if the server fails.
		var revertFunction = get_revertFunction(buttonPanel);
		
		if (! buttonPanel.hasClass("voted_for")) {	
			//they are indeed executing an upvote

			show_upVote(buttonPanel);

			send_voteAction("voteUp", buttonPanel, revertFunction);
		} else {
			//they are undoing their previous upvote

			show_no_vote(buttonPanel);

			send_voteAction("undo_voteUp", buttonPanel, revertFunction);
		}
	}
	
	function on_voteDown_click() {
		var buttonPanel = $(this).parent();
		
		$(".tooltip").hide();
		
		//so we can undo our vote on the client if the server fails.
		var revertFunction = get_revertFunction(buttonPanel);
		
		if (! buttonPanel.hasClass("voted_against")) {	
			//they are indeed executing a downvote
			
			show_downVote(buttonPanel);

			send_voteAction("voteDown", buttonPanel, revertFunction);
		} else {
			//they are undoing their previous downvote

			show_no_vote(buttonPanel);

			send_voteAction("undo_voteDown", buttonPanel, revertFunction);
		}
	}
	
	if (USER_SIGNED_IN) {
		$("button.vote_up").click(on_voteUp_click);
		$("button.vote_down").click(on_voteDown_click);
	} else {
		//TODO: make it so we can select both buttons with one css selector
		$("button.vote_up").attr("rel", "#signup_signin_overlay");
		$("button.vote_down").attr("rel", "#signup_signin_overlay");
		$("button.vote_up[rel]").overlay(SIGNUP_SIGNIN_OVERLAY_PARAMETERS);
		$("button.vote_down[rel]").overlay(SIGNUP_SIGNIN_OVERLAY_PARAMETERS);
	}

	
	function send_voteAction(action, buttonPanel, revertFunction) {
		$.ajax( {
			url: generate_URLForAction(action, buttonPanel.data("comment_id")),
			type: "POST",
			authenticity_token: encodeURIComponent( AUTH_TOKEN),
			//nothing special to do on success, since we are already showing the vote change to the user.
			error: make_errorHandler(action, buttonPanel, revertFunction)
		});
	}
	
	//TODO: should these be locally scoped? will that work?
	
	function generate_URLForAction (voteAction, commentID) {
		//TODO: start up here, do case on voteUp and whatnot
		var prefix = "comments/" + commentID + "/";
		
		switch(voteAction) {
			case "voteUp": var actionInURL = "vote_for/"; break;
			case "voteDown": var actionInURL = "vote_against/"; break;
			case "undo_voteUp": var actionInURL = "undo_vote/"; break;
			case "undo_voteDown": var actionInURL = "undo_vote/"; break;
			default:
				window.alert("vote action '" + voteAction + "' is not recognized. If you see this error message, that would be quite unusual.");
		}
		
		var finalURL = prefix + actionInURL;
		return finalURL;
	}

	function show_upVote(buttonPanel) {
		buttonPanel.addClass("voted_for");
		buttonPanel.removeClass("voted_against");
	}
	
	function show_downVote(buttonPanel) {
		buttonPanel.addClass("voted_against");
		buttonPanel.removeClass("voted_for");
	}
	
	function show_no_vote(buttonPanel) {
		buttonPanel.removeClass("voted_for voted_against");
	}
	
	function get_revertFunction(buttonPanel) {
		if (buttonPanel.hasClass("voted_for")) {
			return show_upVote;
		} else if (buttonPanel.hasClass("voted_against")) {
			return show_downVote;
		} else {
			return show_no_vote;
		}
	}
	
	
	voteAction_to_errorDescription = {
		voteUp : "record your up-vote",
		voteDown:"record your down-vote",
		undo_voteUp: "undo your vote",
		undo_voteDown: "undo your vote"
	};
	
	function make_errorHandler(voteAction, buttonPanel, revertFunction) {
		var errorDescription = voteAction_to_errorDescription[voteAction];
		var finalizedHandler = function (jqXHR, textStatus, errorThrown) {
			add_votingErrorMessage(errorDescription, errorThrown);
			revertFunction(buttonPanel);
		}
		
		return finalizedHandler;
	}
	
	//TODO: consider parameterizing the error message facility on the client. (this code appears elsewhere very similar)
	function add_votingErrorMessage(actionDescription, errorThrown) {
		$("#comments_container_errors").append(
			"<p>Whoops! We encountered an error trying to " + actionDescription + ". Try again later. (error was \"" + errorThrown + "\")</p>");
	}
});
</script>