<header>
	<h1>Both Are Totally Enraged</h1>
	<nav>
		<ul>
			<%= link_to "New Battle", new_battle_path %>	
			<%= link_to "Animal Rankings", index_ranked_animals_path %>
		</ul>
    </nav>
</header>

</br>
</br>
</br>

<!--
<h2> Fights! </h2>
<ul>
<tr><%= link_to "Closely Matched Battle", new_close_match_battles_path %> </br></tr>
<tr><%= link_to "Random Battle", new_battle_path %> </br></tr>
<tr><%= link_to "Battle with Newest Animals", new_smart_battles_path %> </br></tr>
</ul>

</br>
</br>
<%= link_to "Add New Animal", new_animal_path %> </h2>
</br>
<%= link_to "Show Animal Rankings", index_ranked_animals_path %> </h2>
-->