<div id= "everything">
	<div class="rankings content_area_wrapper">
		<div id="content_area">

			<h2>Most Enraged</h2>
			
			<% rank = 1%>
			<% @animals_ranked.each do |animal| %>
			<div class = "ranked_animal_row">
				<div class="rank_numeral_container">
					<h3 class="rank_numeral"><%= rank %>.</h3>
				</div>
				<div class= "ranked_animal_figure">
				<%= image_tag(animal.image.url(:medium))%>
				<h4 class ="figure_caption">
				<%= animal.name %>
			</h4>
		</div>
		<div class="stats_area">
			<div class="stats_area_inner">
				<span class="wins_and_losses_text">
					<span class="wins_text"><%= animal.wins.count %> Wins </span> - <span class="losses_text"><%= animal.losses.count %> Losses </span>
				</span>
				<span class="percentage_wins_text"><%= (animal.win_percentage * 100).round(1) %>% wins </span>
				<%= link_to 'Full Stats', animal %>
			</div>
		</div>
	</div>
	<% rank = rank + 1%>
	<% end %>
</br>

<%= link_to 'Back to Ballot', show_current_ballots_path, :id => "start_battling" %>

</div>
</div>
</div>
