<div id= "everything">
	<div class="rankings content_area_wrapper">
		<div id="content_area">

			<h2>Most Enraged</h2>
			
			<% rank = 1%>
			<% @animals_ranked.each do |animal| %>
			<div class = "ranked_animal_row">
					<% if rank == 1 %>
					<div class="rank_indicator_container coin first_place">
					<img src="/images/1st_place.png"></img>
					</div>
					<% elsif rank == 2 %>
					<div class="rank_indicator_container coin">
					<img src="/images/2nd_place.png"></img>
					</div>
					<% elsif rank == 3 %>
					<div class="rank_indicator_container coin">
					<img src="/images/3rd_place.png"></img>
					</div>
					<% else %>
					<div class="rank_indicator_container board">
					<img src="/images/4thPlus_place.png"></img>
					<h3 class="board_number"><%= rank %></h3>
					</div>
					<% end %>
				
				<div class= "ranked_animal_figure">
				<%= link_to image_tag(animal.image.url(:medium), :class => "animal_img"), 
				animal %>

				
				<h4 class ="figure_caption">
				<%= animal.name %>
			</h4>
		</div>
		<div class="stats_area">
			<div class="stats_area_inner">
				<span class="wins_and_losses_text">
					<span class="wins_text"><%= animal.wins.count %> Wins </span> - <span class="losses_text"><%= animal.losses.count %> Losses </span>
				</span>
				<span class="percentage_wins_text"><%= (animal.win_percentage * 100).round(1) %>% wins </span>
				<%= link_to 'Full Stats', animal %>
			</div>
		</div>
	</div>
	<% rank = rank + 1%>
	<% end %>
</br>

<%= link_to 'Back to Battle', show_current_ballots_path, :id => "start_battling" %>

</div>
</div>
</div>
