<div class="stats content_area_wrapper">
<div id="content_area">

<div id= "main_stats_content">
<span id="stats_figure">
  <%= image_tag @animal.image.url(:medium)%>
  <b><%= @animal.name %></b>
</span>

<span id="stats_infotext">
<p> Wins  : <%= @animal.wins.count %> </p>
<p> Losses: <%= @animal.losses.count %> </p>


<% if @animal.arch_nemesis %>
<p> Arch-Nemesis: <%=  link_to @animal.arch_nemesis.name, @animal.arch_nemesis %> (<%= pluralize(@animal.defeats_by(@animal.arch_nemesis).count, "loss")%>)</p>
<% else %>
<p> Arch-Nemesis: <%= @animal.name %> has no arch-nemesis. <%= @animal.name %> is UNDEFEATED! </p>
<% end%>

<% if @animal.dominates %>
<p> Dominates: <%= link_to @animal.dominates.name, @animal.dominates %> (<%= pluralize(@animal.wins_against(@animal.dominates).count, "win")%>
<% if @animal.defeats_by(@animal.dominates).count == 0 %>
and no losses) </p>
<% else %>
and only <%= pluralize(@animal.defeats_by(@animal.dominates).count, "loss")%>.) </p>
<% end %>

<% else %>
<p> Dominates: <%= @animal.name %> dominates no one :( </p>
<% end %>
-<%= link_to 'Back to Rankings', animals_path %>
</span>

</div>
</div>
</div>
