<div id="battle">

<div id="battle_area">
<% if rand(2) == 0 %>
<%= render 'animal_area', :winner => battle.match.opponent_1, :loser => battle.match.opponent_2, :battle => battle %>
<div id="vs">vs.</div>
<%= render 'animal_area', :winner => battle.match.opponent_2, :loser => battle.match.opponent_1, :battle => battle %>
<% else %>
<%= render 'animal_area', :winner => battle.match.opponent_2, :loser => battle.match.opponent_1, :battle => battle %>
<div id="vs">vs.</div>
<%= render 'animal_area', :winner => battle.match.opponent_1, :loser => battle.match.opponent_2, :battle => battle %>
<% end %>

</div>
<h2 id="who_will_win">
Who will win?
</h2>




<div id="toggle_comments">
<%= link_to "Show Comments", show_comments_match_path(@battle.match), :remote => true, :html => { 'data-type' => 'html'}, :id => "show_comments_link"%>
<span id="throbber_area">
</span>
</div>

<% render 'comments_area', :show_comments => comments_visibility_preference(), :match => battle.match %>

</div>
