<h1>New battle! (various)</h1>

<p id="magic_paragraph">I'm gonna get magic'ed up! </p>

<%= link_to "Get remote magic", {:action => "magic", :controller => "home"}, :remote => true, :class => "button-link" %>

<script type="text/javascript">

$(document).ready(function() {

  $('.button-link').bind('ajax:success', function(evt, data, status, xhr){
  	$('#magic_paragraph').html(xhr.responseText);
  });

});

</script>

<p>
<%= image_tag(@opponent_1.image.url(:medium)) %> </br>
<%= @opponent_1.name %>  
</p>
vs.
<p>
<%= image_tag(@opponent_2.image.url(:medium)) %> </br>
<%= @opponent_2.name %> 
</p>

<p>
Both are totally enraged.
</p>

<p>
Who will win?
</p>
<%= render 'form' %>

<%= link_to 'Back To Rankings', index_ranked_animals_path %>
