<% if @previous_battle %>
<%= render 'battle_results', :previous_battle => @previous_battle %>
<% end %>

<div id= "extra_battle_content_area_wrapper">
<div class="battle content_area_wrapper">
<div id="content_area">

<%= render 'battle', :battle => @battle %>


<a id="donkulation" rel="#signup_signin_overlay">Let's get donkulous!</a>
<div id="content_area_footer"> </div>
<%= render 'comments_header', :show_comments => comments_visibility_preference(), :match => @battle.match %>
</div>
</div>
<%= render "comments_area", :show_comments => comments_visibility_preference(), :match => @battle.match %>
</div>


</div>

<div id="signup_signin_overlay" class="content_area_wrapper">
<%= render 'signup_signin/signup_or_signin'%>
</div>



