<div id="add_comment_box">
<% if user_signed_in? %>
<%= form_tag add_comment_match_path(match),:id => "add_comment", :remote => true, :method => "post", :action => 'add_comment' do %>
  <%= hidden_field_tag "id", match.id %>
  <%= text_area_tag "comment[comment]" %>
  <%= submit_tag 'Post' %>
<% end %>
<% else %>
<p id="sign_in_to_comment_info"><%= link_to 'Sign up', new_user_registration_path%> or <%= link_to "Sign in", new_user_session_path %> to add your own comments. </p>
<% end %>
</div>

<script type="text/javascript">

$(document).ready(function() {

  $('#add_comment').submit(function() {
  	$('input[type=submit]', this).attr('disabled', 'disabled');
  });
  
  $('#add_comment').bind('ajax:beforeSend', function(evt, data, status, xhr){
  	$('#add_comment textarea').val("Submitting..."); //clear the form
  }).bind('ajax:success', function(evt, data, status, xhr){
  	$('#add_comment textarea').val(""); //clear the form
	$('.no.comments_area').fadeOut();
	if (recentCommentsAreaExists()) {
		$('.recent.comments_area').prepend(xhr.responseText);
		$('(.recent.comments_area):first-child').fadeIn();
	} else {
		$('.your_new.comments_area').prepend(xhr.responseText);
		$('(.recent.comments_area):first-child').show();
		$('.your_new.comments_area').fadeIn();
	}

  }).bind('ajax:complete', function(evt, data, status, xhr){

  }).bind('ajax:error', function(evt, data, status, xhr){
  	var $form = $(this),
  		errors
  		errorText;
  		
  	try {
  		errors = xhr.responseText;
  	} catch (err) {
  		errors = {message: "Whoops!"} //TODO: do better here
  	}
  	
  	errorText = "There were errors with the submission: \n<ul>";
  	
  	for (error in errors) {
  		errorText += "<li>" + error + ": " + errors[error] + "</li>";
  	}
  	
  	errorText += "</ul>";
  	
    //Insert error list into form
    $form.find('div.validation-error').html(errorText);
   });
});

function recentCommentsAreaExists() {
	return $('.recent.comments_area').length > 0;
}

</script>
