<div id ="show_comments">
	<% if comments.count == 0 %>
		<div id="no_comments_area">
			<p> Nobody has commented on this battle yet. </p>
		</div>
	<% else %>
		<div id="top_comments_area">
			<h4>Top Comments</h4>
			<%= render 'matches/show_comment', :comment => comments.first, :match => match %>
			<% if comments.count > 1 %>
				<%= render 'matches/show_comment', :comment => comments[1], :match => match %>
			<% end %>
		</div>
	<% end %>
	<div id="all_comments_area">
		<% if comments.count > 2 %>
		<h4>All Comments</h4>
		<% end %>
		<%= render "matches/add_comment", :match => match %>
		<% if comments.count > 2 %>
			<div id="actual_comments_area"> <!-- TODO: change the name of this thing, and other comment areas -->
				<% comments.slice(2..(comments.length-1)).each do |comment|   %>
				<%= render 'matches/show_comment', :comment => comment, :match => match %> <!-- TODO: shouldn't have to add match here> -->
				<% end %>
				<% end %>
			</div>
	</div>
</div>

<%= javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery? %>

<script type="text/javascript">

$(document).ready(function() {
	$(".vote_button").click(function() {
		$.ajax( {
			url: "<%= toggle_vote_on_comment_match_path(match) %>",
			type: "POST",
			data: {comment_id : $(this).data("comment_id")},
			authenticity_token: encodeURIComponent( AUTH_TOKEN )
		});
		if ($(this).hasClass("voted_up")) {
			$(this).removeClass("voted_up").addClass("no_vote");
		} else {
			$(this).removeClass("no_vote").addClass("voted_up");
		}
	});
	
});
</script>