<div class="comment" 
<% if local_assigns[:hide_at_first] %>
style="display: none;"
<% end %>
>

	<div class="content_and_metadata">	
		<div class="content">
			<span class="comment_text">
				<%= comment.comment %> 
			</span>
		</div>
		<div class="metadata">
			<span class="user_name"><%= comment.user_name %> </span><span class="time"><%= time_ago_in_words comment.created_at %> ago </span>
		</div>
	</div>

	<div class="vote_button_panel <%= vote_status(comment) %>" data-comment_id="<%= comment.id %>">
	<button type="button" class="vote_up" title="Me like!"><img></img></button>
	<button type="button" class="vote_down" title="Me dislike!"><img></img></button>
	</div>
</div>