<!DOCTYPE html>
<html>
<head>
	<title>Both Are Totally Enraged</title>
	<%= include_javascripts :workspace %>
	<%= include_stylesheets :workspace %>
	<%= csrf_meta_tag %>
	<link rel="shortcut icon" href="/favicon.ico" />
</head>
<body>

	
	<div id="header_bar">
		<div id="header_contents">
			<h1 id="logo">Both Are Totally Enraged</h1>

			<div id="header_and_user_links">
			<ul id="header_nav_links">
				<li><%= link_to "Most Enraged", animals_path %></li>
				<% if local_assigns[:showing_ballot] && showing_ballot %>
				<li><%= link_to "New Battle", new_ballot_path %></li>
				<% else %>
				<li><%= link_to "Back to Battle", show_current_ballots_path %></li>
				<% end %>
			</ul>

			<ul id="user_links">
				<% if signed_in?(:user) %>
				<% if signed_in?(:admin)%>
				<li> <%= link_to 'Sign Out (admin)', destroy_admin_session_path %></li>
				<% end %>
				<li> <%= link_to 'Sign Out', destroy_user_session_path %></li>
				<% else %>
				<li> <%= link_to "Sign Up", new_user_registration_path %></li>
				<li> <%= link_to "Sign In", new_user_session_path %></li>
				<% end %>
			</ul>
		</div>
		</div>
	</div>
	<% if notice %>
	<div class="notice"><%= notice %></div>
	<% end %>
	<% if alert %>
	<div class="alert"> <%= alert %></div>
	<% end %>

	<%= yield %>

	<div id="footer">
	</div>
</body>
</html>
