<!DOCTYPE html>
<html>
<head>
  <title>BothAreTotallyEnraged</title>
  <%= include_javascripts :workspace %>
  <%= include_stylesheets :workspace %>
  <%= csrf_meta_tag %>
</head>


<body>

<div id="header_bar">
<div id="header_contents">
	<h1 id="logo">Both Are Totally Enraged</h1>
	
	<ul id="header_nav_links">
	<li><%= link_to "Most Enraged", animals_path %></li>
	<li><%= link_to "New Battle", new_battle_path %></li>
	</ul>
	
	<ul id="user_links">
	<% if signed_in?(:user) %>
		<li> <%= link_to 'Sign out', destroy_user_session_path %></li>
	<% elsif signed_in?(:admin)%>
	    <li> <%= link_to 'Sign out (admin)', destroy_admin_session_path %></li>
	<% else %>	
	<li> <%= link_to "Sign Up", new_user_registration_path %></li>
	<li> <%= link_to "Sign In", new_user_session_path %></li>
	<% end %>
	</ul>
</div>
</div>
<% if notice %>
<div class="notice"><%= notice %></div>
<% end %>
<% if alert %>
<div class="alert"> <%= alert %></div>
<% end %>

<%= yield %>

<div id="footer">
</div>
</body>
</html>
